.station {
    background-image:  url('subway_inverteds.png'); 
      background-color: black;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    font-family: Cinzel, serif;
    text-align: right;
    text-shadow: #1c083e;
    font-size: xx-large;
    color:lavenderblush;
    margin: 20px;
    padding: 20px;
}

.station-btn {
    background-color: rgb(61, 57, 61);
     color: rgb(255, 255, 255);
     padding: 10px 20px;
     border: ghostwhite;
     border-radius: 5px;
     font-size: 16px; 
     white-space: nowrap;
}

.station-main-btn {
    background-color: rgb(61, 57, 61);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: ghostwhite;
    border-radius: 5px;
    font-size: x-large;
    text-align: end;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 252, 82, 0.5), 0 0 10px rgba(255, 255, 255, 0.3); 
    white-space: nowrap;
}

.first-body {
    background-color: black;
    font-family: Cinzel, serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.first-header {
    Color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 50px;
}

.first-paragraph {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin : 20px auto;
    text-align: left;
}

.first-btn {
background-color: rgb(61, 57, 61);
 color: rgb(255, 255, 255);
 padding: 10px 20px;
 border: ghostwhite;
 border-radius: 5px;
 font-size: 16px;
 white-space: nowrap;
}

.first-btn:hover {
    background-color: rgb(0, 0, 0)
}

   
.body2 {
    background-color: #1c083e;
    font-family: Playwrite Deutschland Grundschrift;
    color: rgb(200,140,170);
    margin: 0;
    padding: 0;
}

.header2 {
    color: rgb(200, 140, 170);
    text-align: start;
    margin-top: 50px;
}

.paragraph2 {
    color: rgb(200, 140, 170);
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: start;
}

.btn2 {
background-color: #1c083e;
 color: rgb(200, 140, 170);
 padding: 10px 20px;
 border: ghostwhite;
 border-radius: 5px;
 font-size: 16px;
}

.btn2:hover {
    background-color: rgb(0, 0, 0)
}

.body3 {
    background-color: black;
    font-family: Matemasie, serif;
    color: pink;
    margin: 0;
    padding: 0;
}

.header3 {
    Color: rgb(200, 140, 170);
    text-align: left;
    margin-top: 50px;
}

.paragraph3 {
    color: rgb(200, 140, 170);
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.btn3 {
background-color: green;
 color: rgb(200, 140, 170);
 padding: 10px 20px;
 border: ghostwhite;
 border-radius: 5px;
 text-decoration:oklab(from color l a b);
 font-size: 16px;
}

.btn3:hover {
    background-color: rgb(0, 0, 0)
}

.freaky {
    font-family: Imperial Script, cursive;
}


/* MINESWEEPER */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10,30px);
    gap: 2px;
    margin: 20px auto;
    align-self: center;
}

.smallgrid {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5,30px);
    gap: 2px;
    margin: 20px auto;
    align-self: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.flagged {
    width: 30px;
    height: 30px;
    background-color: darkred !important;
    color: darkred !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.button {
    background-color: rgb(61, 57, 61);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: ghostwhite;
    border-radius: 5px;
    font-size: 16px;
}
    
.revealed {
    width: 30px;
    height: 30px;
    background-color: green; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.mine {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.revealedmine {
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.exploded {
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}
